<!DOCTYPE html>
<html lang="en">
    <!-- TO-DO
    [ ] add question suggestion for right sidebar -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRUTH OR DARE</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        html{
            background-color: black;
        }
        #video_feed {
        width: 61%
        }
        #plot_feed {
        display: block;
        width: 61%
        }
        #messages {
            color: white;
        }
        #titlee{
            color: white;
        }
        .instruction{
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function() {

            var socket = io.connect('http://127.0.0.1:5000');

            socket.on('connect', function() {
                socket.send("User connect success");
            });

            socket.on('message', function(msg) {
                $("#messages").append('<li>' + msg + '</li>');
            });

            $("#clear").on('click', function(){
                $("#messages").empty();
            });
        });
    </script>

    <div class="w3-sidebar w3-black w3-bar-block" style="width:40%">
        <ul id="messages">
            <li class="instruction">If you see "Anomaly : calculating player x" please tell player x to read this text to determine their average bpm & wpm</li>
            <li class="instruction">The quick fox jumps over the lazy dog</li>
            <li class="instruction">Please wait till the black box on your forehead change to green one</li>
        </ul>
        <button id="clear">clear</button>
    </div>

    <div id="feed" style="margin-left:40%">
        <h2 align="center" id="titlee">Real Truth or Dare</h2>
        <img align="center" id="video_feed" src="{{ url_for('video_feed') }}">
        <img align="center" id="plot_feed"  src="{{ url_for('plot_feed') }}">
    </div>
</body>
</html>